@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo!</h1>
    <h2>A Era Mesozóica</h2>
    <p>Sistema de Cadastro Editável de Dinossauros</p>
</div>
