@{
    ViewData["Title"] = "Confirmação deletar dinossauro";
}

<div class="text-center">
    <h1 class="display-4">Tem certeza que deseja deletar (Espinossauro)</h1>
    <br />
</div>

<a class="btn btn-danger" role="button">Confirmar</a>
<a class="btn btn-secondary" role="button">Cancelar</a>
